<htm>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Pickup and Destination</span>
            </div>
            <input type="text" aria-label="First name" class="form-control">
            <input type="text" aria-label="Last name" class="form-control">
          </div>
        
          
          <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Intial Commute
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                            <p>
                                    Board Initial Transfer: <%= routes.modeid1%><br>
                                    Mode :<%= routes.mode1%><br>
                                    Transfer Starts @:<%= routes.start1%><br>
                                    Transfer Ends @:<%= routes.end1%><br>
                                    Departs Start @:<%= routes.starttime1%><br>
                                 </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Transfer Change: Option 1
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Board Transfer 2: <%= routes.modeid1%><br>
                            Mode :<%= routes.mode%><br>
                            Transfer Starts @:<%= routes.start1%><br>
                            Transfer Ends @:<%= routes.end1%><br>
                            Departs Start @:<%= routes.starttime1%><br>
                        </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Transfer Change:Option 2
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            Board Transfer 2: <%= routes.modeid1%><br>
                            Mode :<%= routes.mode1%><br>
                            Transfer Starts @:<%= routes.start1%><br>
                            Transfer Ends @:<%= routes.end1%><br>
                            Departs Start @:<%= routes.starttime1%><br>
                    </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
              <img src="..." class="rounded float-left" alt="...">
              <img src="C:\Users\User\Desktop\itc_1icon.jpg" class="rounded float-right" alt="...">
              <form action="/views/explore.ejs">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Check out In-City Attractions</button>
            </form>
              </div>

    </body>
</htm>